---
wildfly-configuration:
  system-property:
    JBOSS_ID:
      value: "{{ jboss_id | default('instance') }}"
  subsystem:
    logging:
      logger:
        com.arjuna:
          level: ERROR
    logging/console-handler:
      CONSOLE:
        name: level
        value: DEBUG
    logging/root-logger:
      ROOT:
        name: level
        value: DEBUG
    messaging-activemq:
      server:
        default:
          jms-queue:
            testQueue:
              entries: 
                - "queue/test"
                - "java:jboss/exported/jms/queue/test"